<ion-view title="Carbon Cycle" id="page2" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/u0psx4eZRrOwzLIzlD1j_Untitleddesign4.png" style="display: block; width: 73%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="carbonCycle-form1" class="list">
      <label class="item item-input" id="carbonCycle-input1">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="carbonCycle-input2">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.profile_tab2()" id="carbonCycle-button2" class="button button-balanced button-block">Login</a>
    <a ui-sref="register()" id="carbonCycle-button3" class="button button-balanced button-block">Register</a>
  </ion-content>
</ion-view>