<ion-view title="Profile" id="page7" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <h1 id="profile-heading2" style="color:#FFFFFF;font-weight:400;text-align:center;">Welcome Back Rish</h1>
    <div>
      <img src="img/kuMkziB2RqKZ2LpPP31L_Untitleddesign4copy.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="profile-heading3" style="color:#FFFFFF;font-weight:300;text-align:center;">Fact of the Day</h1>
    <div id="profile-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFF8F8;">Did you Know, cars and busses add a lot of Carbon Dioxide in our atmosphere</p>
    </div>
  </ion-content>
</ion-view>