<ion-view title="Signup" id="page11" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/OZR9CGIgT0uO2manXJ9G_Untitleddesign4.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="signup-form7" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="signup-toggle2">Do you own a car?</ion-toggle>
      <label class="item item-input" id="signup-input15">
        <span class="input-label">Make</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="signup-input16">
        <span class="input-label">Model</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="signup-input17">
        <span class="input-label">Year</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="signup-input18">
        <span class="input-label">Mileage</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <a ui-sref="signup2()" id="signup-button6" class="button button-balanced button-block">Continue</a>
  </ion-content>
</ion-view>