<ion-view title="Social" id="page10" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/zcwGL5nLRXaF2Pk2Pory_Untitleddesign4.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="social-card21">
      <ion-item class="item-avatar dark" id="social-list-item3">
        <img src="img/yEKsinLdQZYR5c8JDZgE_profileprofessional.jpg">
        <h2dark>Rishabh S.
          <ion-option-button class="button-positive"></ion-option-button>
        </h2dark>
      </ion-item>
      <div class="item item-body" id="social-list-item-container2">
        <div id="social-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Challenged Nathan D.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="social-card22">
      <ion-item class="item-avatar dark" id="social-list-item5">
        <img src="img/yEKsinLdQZYR5c8JDZgE_profileprofessional.jpg">
        <h2dark>Nathan D. accepted
          <ion-option-button class="button-positive"></ion-option-button>
        </h2dark>
      </ion-item>
    </div>
    <div class="list card" id="social-card23">
      <ion-item class="item-avatar dark" id="social-list-item6">
        <img src="img/yEKsinLdQZYR5c8JDZgE_profileprofessional.jpg">
        <h2dark>James G. won against Danny.S
          <ion-option-button class="button-positive"></ion-option-button>
        </h2dark>
      </ion-item>
    </div>
  </ion-content>
</ion-view>