<ion-view title="Tracker" id="page8" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/LfrFpzsFRda1IOuSYlDm_Untitleddesign4.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="tracker-heading4" style="color:#F8F7F7;text-align:center;">Enter Starting Address</h4>
    <form id="tracker-form5" class="list">
      <label class="item item-input" id="tracker-input12">
        <span class="input-label">Address</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div>
      <img src="img/SeUyJHFMTVeaCnLhMhSt_ScreenShot2018-12-12at1.57.48PM.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="tabsController.tracker2()" id="tracker-button4" class="button button-balanced button-block">Continue</a>
  </ion-content>
</ion-view>