<ion-view title="Tracker" id="page9" style="background-color:#000000;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/LfrFpzsFRda1IOuSYlDm_Untitleddesign4.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="tracker2-heading5" style="color:#F8F7F7;text-align:center;">Enter Ending Address</h4>
    <form id="tracker2-form6" class="list">
      <label class="item item-input" id="tracker2-input13">
        <span class="input-label">Address</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div>
      <img src="img/SeUyJHFMTVeaCnLhMhSt_ScreenShot2018-12-12at1.57.48PM.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="tabsController.profile()" id="tracker2-button5" class="button button-balanced button-block">Continue</a>
  </ion-content>
</ion-view>